huggingface
YeoJun

# Ignore git files and folders
.git
.gitignore

# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments or local build folders
venv
env
*.env
.env.*
build/
dist/

# Ignore logs and temporary files
*.log
*.tmp

# If you have any large data or model files that are not needed in build context, ignore them
data/
models/
logs/

# rag-service
rag-service/

# frontend
frontend/
